@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --currentColor: rgb(0, 102, 255);
}

a {
  font-weight: 500;
  color: black;
}
a:hover {
  color: var(--currentColor);
}

body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: xx-large;
  font-weight: bold;
  padding: 0.7em;
  padding-left: 0;
}

.citation {
  color: black;
  font-weight: bold;
}

h2 {
  padding: 0.7em;
  font-size: x-large;
  font-weight: bold;
  padding-left: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(0, 102, 255);
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  background-color: lightskyblue;
  color: black;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input,
textarea {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 16px;
  padding-left: 0.7em;
}

section {
  padding-top: 2em;
  padding-bottom: 2em;
}

.footer {
  background-color: var(--currentColor);
  bottom: 0;
}

h3 {
  font-weight: bold;
  font-size: large;
}

.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards {
  border: 2px solid var(--currentColor);
  border-radius: 16px;
  padding: 2em;
}

.pattern::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/images/muster-big-transparent.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -10;
  opacity: 0.2;
}

.p07 {
  padding-bottom: 0.7em;
  padding-right: 0.7em;
  padding-top: 0.7em;
}

.pb07 {
  padding-bottom: 0.7em;
}
